/* Estructura general */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 220px; /* Para evitar que el contenido se superponga al sidebar */
}

.sidebar {
    width: 220px;
    background-color: #2c3e50;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 10px;
}

.sidebar img {
    max-width: 100px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 15px 0;
    text-align: center;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    padding: 10px;
}

.sidebar nav ul li a:hover, 
.sidebar nav ul li a.active {
    background-color: #00C5A5;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: calc(100% - 220px);
    margin-left: 220px;
    box-sizing: border-box;
}

header h2 {
    margin: 0;
    font-size: 24px;
}

/* Contenido principal */
.content {
    padding: 20px;
    width: calc(100% - 220px);
    box-sizing: border-box;
    flex-grow: 1;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

/* Tarjetas del dashboard */
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    margin-bottom: 10px;
    color: #8B468D;
}

.card p {
    font-size: 24px;
    color: #333;
}
